@use "config/fonts" as f;
@use "config/variables" as v;
@use "mixin" as m;


// ===================== 共通パーツ ===================
.submit-btn {
    border: 2px #D98000 solid;
    border-radius: 3px;
    background-color: #D98000;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    margin-top: 100px;
    padding: 1em 1.6em;
    text-align: center;
    text-decoration: none;
    transition: 0.4s ease;
    user-select: none;
    width: 80%;
}

.submit-btn:hover {
    color: #D98000;
    background-color: #fff;
    cursor: pointer;
}

// ===================== コンテンツ外枠 =================
.content {
    background-color: map-get(v.$colors, backgroundWhite );
    border-radius: 5px;
    width: 90%;
    height: auto;
    padding: 4% 2%;
    margin: 50px auto;
}

// ====================== フォーム共通部分 ===============
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & span {
        font-size: map-get(f.$fontSize, annotation );
        color: map-get(v.$colors, textRed);
    }

    & .txt-area {
        text-align: left;
        box-sizing: border-box;
        width: 80%;
        height: 30px;
        padding: 0 10px;
        margin: 5px 0;
        font-size: 16px;
        color: #333;
        border: solid 1px #ccc;
        border-radius: 6px;
        outline: 0;
        transition: 0.3s;
        -webkit-appearance: none;
    }

    & .txt-area:focus {
        border: 1px solid #00b5ad;
    }
    
    & .submit-btn {
        border: 2px #D98000 solid;
        border-radius: 3px;
        background-color: #D98000;
        color: #fff;
        display: inline-block;
        font-size: 24px;
        margin-top: 100px;
        padding: 1em 1.6em;
        text-align: center;
        text-decoration: none;
        transition: 0.4s ease;
        user-select: none;
        width: 80%;
    }
    
    & .submit-btn:hover {
        color: #D98000;
        background-color: #fff;
        cursor: pointer;
        
    }
}


//===================== TOPページ ======================
.home-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;

    
    & .home-container_left {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        text-align: center;
        width: 50%;
        
        & h1 {
            margin-bottom: 30px;
        }
    
        & p {
            margin-bottom: 50px;
        }

    }

    & .home-container_right {
        width: 50%;
        height: auto;
        position: relative;

        & .img-1 {
            width: fit-content;
            height: 80%;
        }

        & .img-2 {
            width: fit-content;
            height: 80%;
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(20deg);
            transform-origin: 0 100%;
        }

    }
}

// ================== 設問ページ ===========================
.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    
    & .q-start {
        width:100%;
        
        & h1 {
            font-size: 48px;
            margin-bottom: 16px;
        }
        
        & p {
            font-weight: 600;
            position: relative;
            text-align: center;
        }
        
        & p::before {
            position: absolute;
            bottom: -10px;
            left: calc(50% - 100px);
            width: 200px;
            height: 5px;
            content: '';
            border-radius: 3px;
            background: map-get(v.$colors, textGreen );
        }
    }
    
    & .choice {
        margin-top: 80px;
        color: map-get(v.$colors, textGreen);
    }
    
    & form {
        margin-top: 100px;
        
    }
    
    & .question-box {
        border: 3px solid map-get(v.$colors, textGreen );
        margin-bottom: 50px;
        padding: 0 0 30px 0;
        width: 80%;
        max-width: 900px;
        position: relative;
        
        // ------ ラジオボタン

        .answer-box {
            display: flex;
            justify-content: space-around;


            .radio-box {
    
                .visually-hidden {
                    /* コンテンツの流れから切り離す */
                    position: absolute;
                    /* 誤ったコードに対処するための回避策 */
                    white-space: nowrap;
                    /* 可能な限り文字サイズを小さくするための処理
                     * (スクリーンリーダー中には height と width が 0 のものを無視するため)
                     */
                    width: 1px;
                    height: 1px;
                    /* オーバーフローしているコンテンツを隠す */
                    overflow: hidden;
                    /* 要素サイズを変更しうるプロパティのリセット */
                    border: 0;
                    padding: 0;
                    /* 要素のどの部分が表示されるかを定義するもの */
                    /* 古いブラウザでは使用できない */
                    clip: rect(0 0 0 0);
                    /* 最近のブラウザ用
                     * コンテンツを非表示にする設定  */
                    clip-path: inset(50%); 
                    /* 今現在なぜ-1pxがここで設定されるかは分かっていないそうです。
                     * それに加えていくつか問題もあるそうです 
                     * (参考: https://github.com/h5bp/html5-boilerplate/issues/1985)
                     */
                    margin: -1px;
                }

                label {
                    cursor: pointer;
                    position: relative;
                }

                label::before,
                label::after {

                    content: "";
                    display: block; 
                    position: absolute;
                }

                label::before {
                    background-color: #fff;
                    border-radius: 50%;
                    border: 3px solid map-get(v.$colors, textGreen );
                    box-shadow: 4px 4px 16px -6px rgba(0,0,0,0.6);                    width: 50px;
                    height: 50px;
                    top: -300%;
                    left: 50%;
                    transform: translateX(-50%);
                }

                label::after {
                    border-bottom: 2px solid #fff;
                    border-left: 2px solid #fff;
                    opacity: 0;
                    transform: translateX(-50%) rotate(-45deg);
                    height: 15px;
                    width: 30px;
                    top: -250%;
                    left: 50%;
                }

                input:checked + label::after {
                    opacity: 1;
                }
                input:checked + label::before {
                    background-color: map-get(v.$colors, textGreen );
                }

            }
        }

        .question-number {
            background-color: map-get(v.$colors, textGreen );
            color: map-get(v.$colors, textWhite );
            padding: 4px 8px;
            position: absolute;
            left: 0;
            top: 0;
            width: fit-content;
        }

        & .question_word {
            margin-bottom: 100px;
            border-bottom: 1px dashed #000;
            background-color: rgb(236, 235, 235);
            padding: 40px 0 40px 80px;
        }
    }
}

// ================ 結果表示ページ =============================
#content {
    background-color: map-get(v.$colors, backgroundWhite );
    border-radius: 5px;
    width: 90%;
    height: auto;
    padding: 2% 2%;
    margin: 50px auto;
}

.sub-title{
    padding: 1rem 2rem;
    border-top: 6px double #000;
    border-bottom: 6px double #000;
    font-weight: bold;
    width: fit-content;
}



.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    & .comment {
        background-color: #D98000;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-10deg);
        padding: 8px 16px;

        & p{
            color: #ffffff;
            letter-spacing: 0.2em;
            font-weight: 600;
            font-size: 20px;
        }
    }

    & .submit-btn {
        margin-top: 80px;
    }
    & .total-result {
        margin: 40px 0 80px 0;
        width: 100%;
        
        & .total_result__container{
            display: flex;
            height: 100%;
            width: 100%;
            
            & .total-result__rank {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                width: 40%;

                & .rank__title--fontsize {
                    font-weight: bold;
                }
    
                & .rank__word--fontsize {
                    font-size: map-get(f.$fontSize, total_rank);
                    font-weight: bold;
                    text-shadow: 4px 4px 5px #0000005c;
                }
    
                & .total_point--fontsize {
                    font-size: 64px;
                    font-weight: bold;
                }
            }
    
            & .total-result__graph {
                align-items: center;
                display: flex;
                justify-content: center;
                width: 60%;
            }
        }

        & #total_result__feed {
            display: flex;
            justify-content: center;
            margin-top: 32px;
            width: 100%;

            & .total_feed--fontsize {
                width: 80%;
                font-size: 20px;
                letter-spacing: 0.1em;
                font-weight: 600;
            }
        }
    }
}

.category-results {
    margin: 80px 0 80px 0;
    text-align: center;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & .category-results__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        position: relative;
        
        & .triangle {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            transform: translateY(-70%);
    
            & img {
                width: 100%;
                height: 140%;
            }
        }
    

        & .result__container {
            align-items: center;
            background-color: #ffffff;
            border: 3px solid map-get(v.$colors ,textGreen );
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            height: 250px;
            justify-content: center;
            padding: 5px;
            text-align: center;
            width: 24%;
            z-index: 1;

            & .title {
                font-weight: bold;
                height: 20%;
            }

            & .word {
                border-bottom: 1px solid #333; 
                margin: 16px 0;
                width: fit-content;
            }

            & .phase-rank {
                font-size: 80px;
                font-weight: bold;
                text-shadow: 4px 4px 5px rgb(0 0 0 / 36%);
            }
        }
    }
}

.result-phase {
    margin: 80px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .phase-container {
        height: auto;
        margin: 80px 0;
        width: 100%;
        padding-bottom: 40px;
        border-bottom:1px solid rgb(213, 212, 212);
        
        & .contaier {
            display: flex;
            justify-content: space-around;
            position: relative;
            width: 100%;

            & .phase-rank {
                height: auto;
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items:center;
    
                & p {
                    font-size: map-get(f.$fontSize, text_pc);
                    font-weight: 600;
                }

                & .phase-word {
                    text-align: center;
                    width: 90%;

                    & h3 {
                        font-weight: 700;
                        font-size: 24px;
                        padding: 1rem 2rem;
                        border-left: 6px double #000;
                        background: #f4f4f4;
                        width: 100%;  
                    }    
                }
    
                & .phase-rank {
                    font-size: 80px;
                    font-weight: bold;
                    text-shadow: 4px 4px 5px #0000005c;
    
                }
    
            }
    
    
            & .question-tags {
                height: auto;
                max-width: 700px;
                width: 50%;
                
                & .question-tags__title {
                    font-weight: bold;
                    width: fit-content;
                    border-bottom: #333;
                    margin-bottom: 8px;
                }

                & .question-tags__container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;
    
                    
                    & .question-tag {
                        background-color: map-get(v.$colors, textGreen );
                        border-radius: 10px;
                        margin: 5px 5px 0 0;
                        padding: 5px;
                        width: 30%;
                        
                        & p {
                            color: map-get(v.$colors, textWhite );
                            font-size: 14px;
                        }
                    }
                    
                }

                & .question-tags__container::after {
                    content: '';
                    display:block;
                    width: 30%;
                    height: 0;
                }
            }
        }

        & .phase_feed{
            display: flex;
            height: auto;
            justify-content: center;
            margin-top: 48px;
            text-align: left;
            width: 100%;
            
            & .phase-rank {
                width: 80%;
                font-weight: 600;
                letter-spacing: 0.1em;
            }
        }
    }

}

.download {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;

    & .download-word {
        font-size: 20px;
        padding: 8px;
        position: relative;
        font-weight: bold;
    }

    & .download-word::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        content: '';
        background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
        background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
        background-size: 7px 7px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    & .submit-btn {
        width: fit-content;
        margin-top: 24px;
        font-size: 32px;
    }
}

.private-meeting {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 80px 0 80px 0;
    width: 100%;
    text-align: center;

    & .radius {
        align-items: center;
        background-color: map-get(v.$colors, textGreen);
        border-radius: 50%;
        display: flex;
        height: 200px;
        justify-content: center;
        margin: 80px 0 24px 0;
        width: 200px;

        & p {
            font-size: 72px;
            color: map-get(v.$colors, textWhite );
        }
    }

    & .form-container {
        margin: 0 auto;
        margin-top: 50px;
        max-width: 800px;
        width: 80%;
        height: 100%;

        & .formTable {
            width: 100%;
        }

        & .con_pri {
            margin-top: 24px;
        }

        & .txt {
            font-size: map-get(f.$fontSize, annotation);
            text-align: left;

            a {
                color: blue;
                font-size: map-get(f.$fontSize, annotation);
            }
        }
    }
}
/// .main-visual {
//     width: 100%;
//     height: 400px;
//     position: relative;

//     & img {
//         position: absolute;
//         z-index: -1;
//         height: 100%;
//         width: 100%;
//     }

//     & p {
//         color: map-get(v.$colors,textWhite);
//         font-size: map-get(f.$fontSize,title_pc);
//         @include m.mq(sp) {
//             font-size: map-get(f.$fontSize,title_sp);
//         }
//         letter-spacing: 2px;
//         line-height: 2;
//         position: absolute;
//         left: 20%;
//         @include m.mq(sp) {
//             left: 15px;
//             line-height: 4;
//         }
//         top: 50%;
//         transform: translateY(-50%);
//     }
// }

// // index.html
// .about-wrapper {
//     width: 100%;
//     height: auto;
//     margin: 0px auto;
//     max-width: 1100px;
//     padding: 50px 5%;
    
//     & .about-title {
//         text-align: center;
//         margin: 0 auto 50px;
//         color: map-get(v.$colors,textGreen);
//         position: relative;

//         &:after {
//             content: "";
//             margin: 0 auto;
//             height: 3px;
//             width: 60px;
//             position: absolute;
//             bottom: -5px;
//             left: 50%;
//             transform: translateX(-50%);
//             background-color: map-get(v.$colors,textGreen);
//         }
//     }
    
//     & .about-container {
//         display: flex;
//         @include m.mq(sp) {
//             flex-wrap: wrap;
//         }
//         justify-content: center;
//         align-items: center;
//         // align-items: center;で大きさが決まる？

//         & .about-container__caption {
//             width: 50%;
//             margin-right: 30px;
//             @include m.mq(sp) {
//                 width: 100%;
//                 margin-left: 0px;
//             }
//             & img {
//                 width: 100%;
//                 height: 100%;
//                 top: 0px;
//                 left: 0px;
//                 object-fit:cover;
//             }
//         }

//         & .about-container__item {
//             width: 50%;
//             margin-left: 30px;
//             @include m.mq(sp) {
//                 width: 100%;
//                 margin-left: 0px;
//             }

//             & .item__title {
//                 margin-bottom: 30px;
//             }

//             & .item__title--large {
//                 font-size: 25px;
//             }
//         }
//     }
// }

// .service-wrapper {
//     background-color: map-get(v.$colors, backgroundGreen);
//     width: 100%;
//     height: auto;
//     padding: 50px 5%;

//     & .service-title {
//         text-align: center;
//         margin: 0 auto 50px;
//         color: map-get(v.$colors,textGreen);
//         position: relative;

//         &:after {
//             content: "";
//             margin: 0 auto;
//             height: 3px;
//             width: 60px;
//             position: absolute;
//             bottom: -5px;
//             left: 50%;
//             transform: translateX(-50%);
//             background-color: map-get(v.$colors,textGreen);
//         }
//     }

//     & .service-wrapper__list {
//         margin: 0 auto;
//         display: flex;
//         justify-content: space-around;
//         @include m.mq(sp) {
//             flex-wrap: wrap;
//         }
        
//         max-width: 1100px;


//         & .list__item {
//             width: 30%;
//             @include m.mq(sp) {
//                 width: 100%;
//                 margin-bottom:20px ;
//             }
//             background-color: map-get(v.$colors, backgroundWhite);
//             box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.03);

//             & .container__caption {
//                 width: 100%;
//                 height: auto;
                
//                 & img {
//                     width: 100%;
//                     height: auto;
//                 }
//             }

//             & .container__body {
//                 width: 100%;
//                 height: auto;
//                 padding: 20px 20px;
//                 text-align: center;

//                 & .body__title {
//                     margin-bottom: 20px;
//                 }
//             }
//         }
//     }
// }


// .news-wrapper {
//     width: 100%;
//     height: auto;
//     margin: 0px auto;
//     max-width: 1100px;
//     padding: 50px 5%;

//     & .news-title {
//         text-align: center;
//         margin: 0 auto 50px;
//         color: map-get(v.$colors,textGreen);
//         position: relative;

//         &:after {
//             content: "";
//             margin: 0 auto;
//             height: 3px;
//             width: 60px;
//             position: absolute;
//             bottom: -5px;
//             left: 50%;
//             transform: translateX(-50%);
//             background-color: map-get(v.$colors,textGreen);
//         }
//     }

//     & .news-container {
//         width: 100%;
//         height: auto;

//         & .group__list {
//             padding: 20px 55px;
//             border-bottom: 1px solid #ddd;
//             @include m.mq(sp) {
//                 padding: 20px 0px;
//             }

//             & a {
//                 display: flex;
//                 justify-content: flex-start;
//                 @include m.mq(sp) {
//                     flex-direction: column;
//                     align-items: flex-start;
//                 }

//                 & .list__date {
//                     padding: 5px;
//                     margin: 0 20px;
//                     border-radius: 50px;
//                     font-size: map-get(f.$fontSize, news_date);
//                     @include m.mq(sp) {
//                         margin: 20px 0;
//                     }

//                 }

//                 & .list__date--gray {
//                     background-color: map-get(v.$colors, backgroundGray);

//                 }

//                 & .list__date--white {
//                     color: map-get(v.$colors,textGray);

//                 }
//             }
//         }

//         & .action__btn {
//             margin: 50px auto 0px;
//             padding: 15px;
//         }

//         & .action__btn--circle {
//             border-radius: 50px;
//             border: solid 0.5px;
//             display: block;
//             text-align: center;
//             width: 300px;
//         }
//     }

// }

// .contact-wrapper {
//     background-color: map-get(v.$colors, backgroundGreen);
//     width: 100%;
//     height: auto;
//     margin: 0 auto;
//     padding: 50px 5%;


//     & .contact-title {
//         text-align: center;
//         margin: 0 auto 50px;
//         color: map-get(v.$colors,textGreen);
//         position: relative;

//         &:after {
//             content: "";
//             margin: 0 auto;
//             height: 3px;
//             width: 60px;
//             position: absolute;
//             bottom: -5px;
//             left: 50%;
//             transform: translateX(-50%);
//             background-color: map-get(v.$colors,textGreen);
//         }
//     }

//     & .contact-container {
//         max-width: 1100px;
//         margin: 0 auto;
//         & .contact__catch {
//             width: fit-content;
//             margin: 0 auto;
//             text-align: center;
//             font-size: map-get(f.$fontSize, title_pc)
//         }
//     }
//     & .action__btn {
//         padding: 15px;
//         width: 300px;
//         display: block;
//         margin: 50px auto;
//         color: map-get(v.$colors, textWhite);
//         text-align: center;
//     }
//     & .action__btn--circle {
//         border-radius: 50px;

//     }
//     & .action__btn--green {
//         background-color: map-get(v.$colors, btnGreen);
//     }

// }

// // contact.html
// .form-wrapper {
//     width: 100%;
//     height: auto;
//     margin: 0 auto;
//     padding: 50px 5%;


//     & .form-title {
//         text-align: center;
//         margin: 0 auto 50px;
//         color: map-get(v.$colors,textBlack);
//         position: relative;

//     }

//     & .form-container {
//         max-width: 850px;
//         margin: 0 auto;

//         & .form__item {
//             margin-bottom: 20px;
//             position: relative;

//             & .item__text {

//                 & span {
//                     background-color: map-get(v.$colors, backgroundRed);
//                     color: map-get(v.$colors, textWhite);
//                     font-size: 10px;
//                     margin: 0px 10px;
//                 }
//             }

//             & .item__input-area {
//                 padding: 10px;
//                 border: solid 0.5px map-get(v.$colors, textGreen);
//                 border-radius: 5px;
//             }

//             & .item__input-area--large {
//                 height: 45vh;
//             }
//         }
//     }
//     & .action__btn {
//         padding: 15px;
//         width: 300px;
//         display: block;
//         margin: 50px auto;
//         color: map-get(v.$colors, textWhite);
//         text-align: center;
//     }
//     & .action__btn--circle {
//         border-radius: 50px;

//     }
//     & .action__btn--green {
//         background-color: map-get(v.$colors, btnGreen);
//     }

// }
