body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333333;
  letter-spacing: 1.5px;
  line-height: 1.5;
  background-color: #128775;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #333333;
}

li {
  list-style: none;
}

header {
  width: 100%;
  height: 50px;
  padding: 0 2%;
  display: flex;
  justify-content: left;
  align-items: center;
}
header .container {
  height: 100%;
  width: auto;
}
header .container img {
  width: auto;
  height: 100%;
}

.submit-btn {
  margin-top: 100px;
  text-align: center;
  width: 200px;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #00b5ad;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 1px #00b5ad solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.submit-btn:hover {
  color: #fff;
  background-color: #00b5ad;
  cursor: pointer;
}

.content {
  background-color: #ffffff;
  border-radius: 5px;
  width: 90%;
  height: auto;
  padding: 2% 2%;
  margin: 50px auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container span {
  font-size: 10px;
  color: #ff0000;
}
.form-container .txt-area {
  text-align: left;
  box-sizing: border-box;
  width: 80%;
  height: 30px;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 16px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}
.form-container .txt-area:focus {
  border: 1px solid #00b5ad;
}
.form-container .submit-btn {
  border: 1px #00b5ad solid;
  border-radius: 3px;
  color: #00b5ad;
  display: inline-block;
  font-size: 0.8em;
  margin-top: 100px;
  padding: 0.4em 1.6em;
  text-align: center;
  text-decoration: none;
  transition: 0.4s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 200px;
}
.form-container .submit-btn:hover {
  color: #fff;
  background-color: #00b5ad;
}

.home-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
}
.home-container .home-container_left {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 50%;
}
.home-container .home-container_left h1 {
  margin-bottom: 30px;
}
.home-container .home-container_left p {
  margin-bottom: 50px;
}
.home-container .home-container_right {
  width: 50%;
  height: auto;
  position: relative;
}
.home-container .home-container_right .img-1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 80%;
}
.home-container .home-container_right .img-2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 80%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(20deg);
  transform-origin: 0 100%;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.question-container .q-start {
  width: 100%;
}
.question-container .q-start h1 {
  font-size: 48px;
  margin-bottom: 16px;
}
.question-container .q-start p {
  font-weight: 600;
  position: relative;
  text-align: center;
}
.question-container .q-start p::before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: "";
  border-radius: 3px;
  background: #000;
}
.question-container .choice {
  margin-top: 80px;
}
.question-container form {
  margin-top: 100px;
}
.question-container form .question_word {
  margin-bottom: 100px;
}
.question-container .question-box {
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #888888;
  width: 80%;
  max-width: 900px;
}

#content {
  background-color: #ffffff;
  border-radius: 5px;
  width: 90%;
  height: auto;
  padding: 2% 2%;
  margin: 50px auto;
}

.sub-title {
  padding: 1rem 2rem;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.result-container .comment {
  background-color: #D98000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-10deg);
  padding: 8px 16px;
}
.result-container .comment p {
  color: #ffffff;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 20px;
}
.result-container .submit-btn {
  margin-top: 80px;
}
.result-container .total-result {
  margin: 40px 0 80px 0;
  width: 100%;
}
.result-container .total-result .total_result__container {
  display: flex;
  height: 100%;
  width: 100%;
}
.result-container .total-result .total_result__container .total-result__rank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
}
.result-container .total-result .total_result__container .total-result__rank .rank__title--fontsize {
  font-weight: bold;
}
.result-container .total-result .total_result__container .total-result__rank .rank__word--fontsize {
  font-size: 100px;
  font-weight: bold;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3607843137);
}
.result-container .total-result .total_result__container .total-result__rank .total_point--fontsize {
  font-size: 64px;
  font-weight: bold;
}
.result-container .total-result .total_result__container .total-result__graph {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 60%;
}
.result-container .total-result #total_result__feed {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  width: 100%;
}
.result-container .total-result #total_result__feed .total_feed--fontsize {
  width: 80%;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.category-results {
  margin: 80px 0 80px 0;
  text-align: center;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-results .category-results__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  position: relative;
}
.category-results .category-results__container .triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-70%);
}
.category-results .category-results__container .triangle img {
  width: 100%;
  height: 140%;
}
.category-results .category-results__container .result__container {
  align-items: center;
  background-color: #ffffff;
  border: 3px solid #00ABAE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  padding: 5px;
  text-align: center;
  width: 24%;
  z-index: 1;
}
.category-results .category-results__container .result__container .title {
  font-weight: bold;
  height: 20%;
}
.category-results .category-results__container .result__container .word {
  border-bottom: 1px solid #333;
  margin: 16px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.category-results .category-results__container .result__container .phase-rank {
  font-size: 80px;
  font-weight: bold;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.36);
}

.result-phase {
  margin: 80px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-phase .phase-container {
  height: auto;
  margin: 80px 0;
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(213, 212, 212);
}
.result-phase .phase-container .contaier {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
.result-phase .phase-container .contaier .phase-rank {
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-phase .phase-container .contaier .phase-rank p {
  font-size: 16px;
  font-weight: 600;
}
.result-phase .phase-container .contaier .phase-rank .phase-word {
  text-align: center;
  width: 90%;
}
.result-phase .phase-container .contaier .phase-rank .phase-word h3 {
  font-weight: 700;
  font-size: 24px;
  padding: 1rem 2rem;
  border-left: 6px double #000;
  background: #f4f4f4;
  width: 100%;
}
.result-phase .phase-container .contaier .phase-rank .phase-rank {
  font-size: 80px;
  font-weight: bold;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3607843137);
}
.result-phase .phase-container .contaier .question-tags {
  height: auto;
  max-width: 700px;
  width: 50%;
}
.result-phase .phase-container .contaier .question-tags .question-tags__title {
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: #333;
  margin-bottom: 8px;
}
.result-phase .phase-container .contaier .question-tags .question-tags__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.result-phase .phase-container .contaier .question-tags .question-tags__container .question-tag {
  background-color: #00ABAE;
  border-radius: 10px;
  margin: 5px 5px 0 0;
  padding: 5px;
  width: 30%;
}
.result-phase .phase-container .contaier .question-tags .question-tags__container .question-tag p {
  color: #ffffff;
  font-size: 14px;
}
.result-phase .phase-container .contaier .question-tags .question-tags__container::after {
  content: "";
  display: block;
  width: 30%;
  height: 0;
}
.result-phase .phase-container .phase_feed {
  display: flex;
  height: auto;
  justify-content: center;
  margin-top: 48px;
  text-align: left;
  width: 100%;
}
.result-phase .phase-container .phase_feed .phase-rank {
  width: 80%;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.download {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.download .download-word {
  font-size: 20px;
  padding: 8px;
  position: relative;
  font-weight: bold;
}
.download .download-word::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.download .submit-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 24px;
  font-size: 32px;
}

.private-meeting {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 80px 0 80px 0;
  width: 100%;
  text-align: center;
}
.private-meeting .radius {
  align-items: center;
  background-color: #00ABAE;
  border-radius: 50%;
  display: flex;
  height: 200px;
  justify-content: center;
  margin: 80px 0 24px 0;
  width: 200px;
}
.private-meeting .radius p {
  font-size: 72px;
  color: #ffffff;
}
.private-meeting .form-container {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 800px;
  width: 80%;
  height: 100%;
}
.private-meeting .form-container .formTable {
  width: 100%;
}
.private-meeting .form-container .con_pri {
  margin-top: 24px;
}
.private-meeting .form-container .txt {
  font-size: 10px;
  text-align: left;
}
.private-meeting .form-container .txt a {
  color: blue;
  font-size: 10px;
}

footer {
  margin: 0 auto;
}
footer .footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
footer .footer-container .left {
  width: 50%;
  height: auto;
  padding-left: 5%;
}
footer .footer-container .left p {
  color: #ffffff;
  text-align: left;
}
footer .footer-container .right {
  width: 50%;
  height: auto;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
footer .footer-container .right a {
  color: #ffffff;
}
footer p {
  color: #ffffff;
  text-align: center;
}
