
$fontSize: (
    text_pc: 16px,
    text_sp: 12px,
    annotation: 10px,
    title_pc: 30px,
    title_sp: 22px,
    sub_title_pc: 20px
);

$fontFamily: (
    text: ('Noto Sans JP', sans-serif),
    title: ('Noto Sans JP', sans-serif)
);
