
$fontSize: (
    annotation: 10px,
    total_rank: 100px,
    phase_rank: 48px,
    sub_title_pc: 20px,
    text_pc: 16px,
    text_sp: 12px,
    title_pc: 30px,
    title_sp: 22px,
);

$fontFamily: (
    text: ('Noto Sans JP', sans-serif),
    title: ('Noto Sans JP', sans-serif)
);
