$colors: (
    textGreen:#00ABAE,
    textBlack: #333333,
    textWhite: #ffffff,
    textGray: #888888,
    textRed: #ff0000,
    backgroundWhite: #ffffff,
    backgroundWhite_2: rgba(255, 255, 255, 0.900),
    backgroundGray: #EEEEEE,
    backgroundBlack: #000000,
    backgroundBlack2: #00000020,
    backgroundRed: #FF0000,
    backgroundGreen: #128775,
    btnGreen:#00ABAE
);

